* {
  padding: 0px;
  margin: 0px;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  -webkit-animation: 2000ms ease homeAnimate;
          animation: 2000ms ease homeAnimate;
}

@-webkit-keyframes homeAnimate {
  0% {
    opacity: 0;
  }
}

@keyframes homeAnimate {
  0% {
    opacity: 0;
  }
}
