* {
    padding: 0px;
    margin: 0px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    animation: 2000ms ease homeAnimate;
}

// After compilation autoprefixer will add vendor prefixes to CSS rules
// check build/app.css
@keyframes homeAnimate {
    0% {
        opacity: 0;
    }
}